* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

body {
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.header {
    overflow: hidden;
}

.header img {
    float: left;
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
}

.header p {
    float: right;
    font-size: 70px;
    text-shadow: 3px 1px 30px;
    font-weight: bold;
    color: white;
    margin-top: 35px;
    margin-right: 60px;
}

.navbar {
    background-color: gray;
    overflow: hidden;
}

.navbar a {
    width: 25%;
    color: white;
    text-align: center;
    float: left;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: white;
    color: black;

}
.ourinfo{
    background-color: rgb(70, 70, 70);
    color: white;
    text-align: center;
    height: 160px;
    width:100%;
    margin: 10px auto 5px auto;
}
.heading{
    background-color: black;
    color: white;
    width: 200px;
    text-transform: uppercase;
    height:30px;
    padding-top: 5px;
    margin-left: 43%;
    margin-bottom: 5px;

}
.cards{
    width: 100%;
}
.cardsheading{
    background-color: grey;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 40px auto 20px auto;
    width: 800px;
    font-size: 40px;
}
.box{
    background-color: grey;
    font-size: 30px;
    float: left;
    border: 3px dotted white;
    margin-right: 4%;
    margin-left: 4%;
    height: 420px;
    width: 25%;
}
.box p {
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke: 1px white;
    color: black;
    font-size: 30px;
}
.box p:hover{
    background-color: black;
    color: white;
}
.box img{
    margin: auto;
    display: block;
}
.footer{
    background-color: rgb(29, 28, 28);
    padding-top: 50px;
    color: white;
    text-align: left;
    width: 100%;
    text-transform: capitalize;
    padding-left: 80px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    border-bottom: 1px solid white;
}

